body {
    background-color: rgb(252, 184, 249);
    color:rgb(0, 0, 0);
    font-family: Trebuchet MS, serif;
    border-right-color: white;
    border-right-width: 40px;
    border-right-style: solid;
    border-left-color: white;
    border-left-width: 40px;
    border-left-style: solid;
    padding: 5px 50px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong{
	margin: 0;
	vertical-align: baseline;
}
